@model CMS.Features.Home.Models.HomePage
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="main" data-episerver-type="HomePage" data-episerver-url="@Url.ContentUrl(Model.ContentLink)"></div>